:root {
    --bg-button: white;
    --border-button: solid 1px rgba(0,0,0,.1);
}

.btn {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.btn:active {
    background-color: #ccc;
}

.btn.double {
    grid-column: span 2;
}

.btn.triple {
    grid-column: span 3;
}

.btn.operation {
    background-color: #fa8231;
    color: white;
}

.btn.operation:active {
    background-color: #fa8231cc;
}